*{margin: 0;padding: 0;}
body {background: #fff url(imagens/fundo.png) repeat-x; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;} /* background-color, background-image, background-repeat, background-attachment, background-position */
#header {
    width: 750px;
    margin: 0 auto;
}
#content-logo {
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}
.logo-nome {
    height: 66px;
    width: 152px;
    background: url(imagens/logo.png) no-repeat center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#content-logo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}
#content-logo li {
    float: left;
}
#content-logo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(imagens/divisor.png) no-repeat left center;
}
#content-logo ul .primeiro a {
    background: none;
}
#content-logo ul a:hover {
    color: #69001d;
}
body.home #nav a#home, body.brasil #nav a#brasil, body.internacional #nav a#internacional,
body.economia #nav a#economia, body.saude #nav a#saude, body.ciencia #nav a#ciencia,
body.fotos #nav a#fotos
{
    color: #fff;
    background: #de003e;
    cursor: text;
}
#conteudo {
    width: 750px;
    margin: 60px auto;
    background-color: pink;
}
#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}
#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 15px;
}
#duas-colunas #primario {
    width: 550px;
}
#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}
#lateral {
    width: 180px;
    margin: 0 0 20px -750px;
    float: left;
}
.caixa {
    margin: 10px 0;
    padding: 5px;
    background: url(imagens/fundo-caixa.png);
}
h2 {
    font-size: 1em;
    padding: 5px;
    background: #294c71;
    color: #fff;
}
.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}
a:link, a:visited {
    color: #b10333;
    padding: 2px;
}
a:hover {
    color: #e50040;
}
#lateral ul a {
    font-size: 0.9em;
    display: block;
    padding: 3px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover {
    color: #a1a1a1;
    padding-left: 20px;
    background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
}
label {
    display: block;
    cursor: pointer;
}
input {
    font-size: 0.9em;
    width: 125px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid black;
    margin-bottom: 3px;
}
input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}

img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}
.destaque h3 {
    background-color: #b10333;
    color: #fff;
}
.entrevista h3 {
    background-color: #de003e;
}
#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc ;
    height: 62px;
}
#lista-noticias li a img {
    float: left;
    margin: 5px;
}
#lista-noticias li a {
    text-decoration: none;
}
#lista-noticias li h3 {
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}
#lista-noticias li p {
    font-size: 0.7em;
    color: #000;
}
#lista-noticias li:hover {
    background-color: #eee;
    cursor: pointer;
}
.clearboth {
    clear: both;
}
#container-rodape {
    background: #294c71;
    padding: 20px;
}
#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}